.footer__fi {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: rgb(240, 243, 243);
  padding-left: 20px;
  font-size: 14px;
  position: absolute;
  bottom: 40px;
  align-items: center;
  border: 1px solid rgb(214, 214, 214);
  color: rgb(101, 102, 104);
}

.footer__bg {
  border: 1px solid rgb(214, 214, 214);
  color: rgb(101, 102, 104);
  background-color: rgb(240, 243, 243);
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 2px;
}

@media only screen and (max-width: 600px) {
  .footer__bg {
    height: 80px;
    display: block;
  }

  .footer__fi {
    bottom: 81px;
  }

  .footer__dv {
    padding-left: 20px;
    padding-right: auto;
  }

  .footer__bt {
    margin-left: 15px;
    margin-right: auto;
  }
}

.footer__dv > p {
  padding: 5px 20px;
  text-decoration: underline;
  cursor: pointer;
}
.footer__bt > p {
  padding: 5px 20px;
  text-decoration: underline;
  cursor: pointer;
}

.footer__dv {
  display: flex;
  font-size: 14px;
}

.footer__bt {
  display: flex;
  font-size: 14px;
}
